@(title: String, pageNum: Integer, parentForm: Form[Parent])
@import helper._

@main(title) {

    @form(routes.Application.insertParent(pageNum)) {

        <fieldset>

            @inputText(parentForm("name"), '_label -> "Parent name")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this Parent" class="btn primary"> or
            <a href="@routes.Application.index(pageNum)" class="btn">Cancel</a>
        </div>

    }

}
