@(title: String, pageNum: Integer, id: Long, childForm: Form[Child])

@import helper._

@main(title) {

    @form(routes.Application.updateChild(pageNum, id)) {

        <fieldset>

            @inputText(childForm("name"), '_label -> "Child name")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Update this Child" class="btn primary"> or
            <a href="@routes.Application.index(pageNum)" class="btn">Cancel</a>
        </div>

    }

}
